bin/*
roms/*
lst/*
SDCC/*
!SDCC/src/
!SDCC/compileSDCC.sh
src/equates.inc

exp

*.sh
*.img

src/vdpint*.asm

screens/*
audios/*
*.lst
fonts/*.fn6
fonts/*.fn8

DiskTools/makeimgfile

# The Telemark Assembler (TASM)
TASM.EXE
TASM80.TAB
