bin/*
lst/*
SDCC/*
!SDCC/src/
!SDCC/compileSDCC.sh
src/equates.inc

exp

makeimgfile*
*.sh
*.img

src/vdpint*.asm

screens/*
*.lst
fonts/*.fn6
fonts/*.fn8

# The Telemark Assembler (TASM)
TASM.EXE
TASM80.TAB
